:root {
 --color1: #01226F;
 --color2: #F3B33E;
}

.App {
  display:grid;
  grid-template-columns: 25vw auto;
  min-height: 100vh;
}

/* NAVBAR SIDE */

.Navbar {
  position: relative;
}

.NavStick {
  position: fixed;

  display: flex;
  flex-direction: column;
  gap:5vh;
  align-items: center;
  height: 100vh;
  width: 25vw;
  background-color: var(--color1);
  padding: 2vmin;
  margin:0;

}

.NavStick > header {
  font-size: 2rem;
  color: #fff;
  border-bottom: 1px solid var(--color2);
}

.Header {
  background-color: #eee;
  color:var(--color1)
}

.CurrentCourse {
  text-align: center;
}

.CurrentCourse > p {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 3vh;
  color:#ffcc00;
}

.CurrentCourse > hr {
  margin: 5vmin 0;
  border-top: 1px solid #aaa;
}

.CurrentCourse > ol {
  list-style: decimal;
  text-align: left;
  margin-left: 2vw;
  
}

.CurrentCourse li {
  margin: 2vmin 0;
  color: #ccc;
  padding:1vmin;
}

.selectedLesson {
  font-weight: 500;
  color:#fff !important;
}

.progress {
  color:#fff;
  width:10vw;
}
.progressWrapper {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  gap:3vw;
}

.toggleUser {
  position: fixed;
  bottom: 3vh;
}

.swap-on, .swap-off {
  font-size: 3rem;
}

/* Nav for Teacher */

#tDash, #tNLesson, #tNCourse {
  display: none;
}

.tMode {
  overflow: hidden;
}

.tMode label {
  color:#eee;
  padding:3vmin;
  
}

.tMode input:checked + li > label{
  background-color: #555;
  color:#fff;
  font-weight: 600;
}

/* Content for Teacher */

.TeacherDashboard {
  padding:1vmin;
}

.TeacherDashboard h1 {
  font-size: 2rem;
  margin-bottom: 5vmin;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap:3vmin;
}

.card {
  max-width:300px;
  font-size: 1rem;
  background-color: #fff;
}

.card-actions img {
  width: 39px;
  margin: 1vmin;
  padding:1vmin;
  cursor: pointer;
}

.card-actions img:hover {
  transform: scale(1.2);
}

.tNForm {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap:1vmin;
}

.tNForm h1 {
  font-size: 2rem;
  margin-bottom: 5vmin;
}

.tNForm .grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap:2vmin;
  align-items: flex-start;
}

.tNForm label {
  font-weight: 500;
  color: var(--color1);
}

.tNForm select {
  margin-bottom: 5vmin;
  background-color: var(--color1);
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.tNForm button {
  width:30%;
  margin-top: 5vmin;
  margin-left: auto;
  background-color: var(--color1);
  color:#fff;
}

.tNForm input::placeholder, .tNForm textarea::placeholder {
  color:#fff;
  font-size: 1rem !important;

}

.tNForm input, .tNForm textarea {
  color:var(--color1) !important;
  font-size: 1.2rem;
  background-color: #aaa;
}

.tNForm input[type='file'] {
  display:none;
}

.tNForm .imgInputWrapper {
  font-weight: 300;
  margin: auto 0;
  cursor:pointer;
}

.imgInputWrapper>span {
  margin-left: 2vmin;
  font-size: 0.9rem;
  color: #333;
}

.TeacherContent {
  color: #555;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTENT SIDE */

.Content {
  padding: 3vmin;
  color: #555;
  max-width: 700px;
  margin:0 auto;
  font-size: 1.2rem;
  font-weight: 350;
}

.Content header {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3vmin;
  text-align: center;
}

.Content .text {
  text-align: justify;
}

.Content .text::first-letter {
  font-size: 2rem;
  color: var(--color1);
  font-weight: 500;
}

.Content iframe {
  margin: 3vmin auto;
}